In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('http://www.omdbapi.com/?i=tt3896198&apikey=99a17e8d')

In [3]:
call_df = pd.DataFrame([response.json()])
call_df

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"712,189",tt3896198,movie,22 Aug 2017,"$389,813,101",N/A,N/A,True

In [8]:
df = pd.DataFrame()
for i in range(500):
  response = requests.get('http://www.omdbapi.com/?i=tt3896198&apikey=99a17e8d')
  call_df = pd.DataFrame(response.json(), columns=['title', 'Metascore', 'imdbRating', 'imdbID', 'imdbVotes', 'BoxOffice', 'Runtime'], index=[1, 2, 3, 4, 5])
  df = pd.concat([call_df, call_df])

In [6]:
df

  title Metascore imdbRating     imdbID imdbVotes     BoxOffice  Runtime
1   NaN        67        7.6  tt3896198   712,189  $389,813,101  136 min
2   NaN        67        7.6  tt3896198   712,189  $389,813,101  136 min
3   NaN        67        7.6  tt3896198   712,189  $389,813,101  136 min
4   NaN        67        7.6  tt3896198   712,189  $389,813,101  136 min
5   NaN        67        7.6  tt3896198   712,189  $389,813,101  136 min
1   NaN        67        7.6  tt3896198   712,189  $389,813,101  136 min
2   NaN        67        7.6  tt3896198   712,189  $389,813,101  136 min
3   NaN        67        7.6  tt3896198   712,189  $389,813,101  136 min
4   NaN        67        7.6  tt3896198   712,189  $389,813,101  136 min
5   NaN        67        7.6  tt3896198   712,189  $389,813,101  136 min

In [9]:
df.to_csv('sample_data/rasti.csv')